*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.left {
  width: 40vw;
  height: 100vh;
  background-image: url(./img/shayna-douglas-2n3HqAwAV58-unsplash.jpg);
  background-size: cover;
}

.logo-section {
  height: 15vh;
  margin-top: 45vh;
  background-color: rgba(0, 0, 0, 0.445);
}

.right {
  width: 60vw;
  height: 100vh;
}

header {
  height: 25vh;
  text-align: center;
  background-color: ghostwhite;
}

form {
  height: 50vh;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  height: 25vh;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: ghostwhite;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
