*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.left {
  width: 40vw;
  height: 100vh;
  background-image: url(./img/shayna-douglas-2n3HqAwAV58-unsplash.jpg);
  background-size: cover;
}

.logo-section {
  height: 15vh;
  margin-top: 25vh;
  background-color: rgba(0, 0, 0, 0.445);
}

.right {
  width: auto;
  height: 100vh;
}

header {
  height: 25vh;
  text-align: center;
  background-color: ghostwhite;
}

form {
  height: 50vh;
}

footer {
  height: 25vh;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: ghostwhite;
}
